body {
    background-color: rgb(236, 222, 196);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

h1,
h2 {
    font-family: "Young Serif", serif;
}

h2,
h4,
.value {
    color: hsl(332, 51%, 32%);
}

ul,
ol {
    margin: 10px 0 0 0;
    padding-left: 20px;

    li {
        margin-bottom: 10px;
    }
}

.container {
    background-color: white;
    padding: 3rem;
    border-radius: 40px;
    width: 720px;
    margin: 100px auto;
}

.introduction {
    img {
        width: 100%;
        border-radius: 30px;
    }

    #preparation {
        background-color: hsl(330, 100%, 98%);
        margin-top: 30px;
        padding: 30px;
        border-radius: 10px;

        h4 {
            margin: 0;
        }
    }
}

.ingredients {
    margin: 30px 0;
}

.instructions {
    margin: 30px 0;
}

.nutrition {
    margin: 30px 0;

    table {
        width: 100%;
        border-collapse: collapse;

        tr {
            line-height: 3;

            td {
                padding-left: 30px;
                border-bottom: 1px solid black;
            }

            .value {
                font-weight: 700;
            }
        }
    }
}